.about {
  position: relative;
  
  &__content {
    width: 100%;
    text-align: center;
  }

// Блок заголовка и абзаца
  &__desc {
    max-width: 45%;
    margin: 0 auto;

    @include tablets{
      max-width: 70%;
    }

    @include phones{
      max-width: 90%;
    }
  }

  &__text {
    font-size: rem(18px);
    margin-top: rem(10px);
  }
// 
  &__list{
    display: flex;
    align-items: flex-start;
    margin-top: rem(55px);

    @include phones{
      text-align: left;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: rem(20px);
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex: 1;

    @include phones{
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 0;
    }

    &:not(:first-child){
      @include phones{
        margin-top: rem(35px);
      }
    }

    &:not(:last-child){
      margin-right: 8%;

      @include tablets{
        margin-right: 5%;
      }

      @include phones{
        margin-right: 0;
      }
    }
  }

  &__image{
    margin: auto;
    max-width: rem(125px);
    width: 100%;
    max-height: rem(125px);
    height: 100%;
    background-color: $gray;
    padding: rem(27px);
    border-radius: 50%;

    @include phones{
      padding: rem(24px);
      margin-right: rem(15px);
      max-width: rem(110px);
      max-height: rem(110px);
    }
  }

  &__img{
    fill: #000000;
    max-width: rem(70px);
    width: 100%;
    max-height: rem(70px);
    height: 100%;
  }

  &__subtitle{
    margin-top: rem(27px);
    font-size: rem(27px);
    font-weight: bold;

    @include tablets{
      margin-top: rem(24px);
    }

    @include phones{
      font-size: rem(21px);
      margin-top: rem(3px);
    }
  }

  &__borderline-images{
    @include phones{display: none;}
  }

  &__item-text{
    color: $gray-text;
    font-size: rem(18px);
    font-weight: 300;
    margin-top: rem(18px);

    @include phones{
      margin-top: rem(5px);
    }
  }
  
  &__leaf {
    position: absolute;
    top: 29%;
    left: 0;

    @include tablets{
      top: 6%;
    }
    
  }
  &__berry{
    position: absolute;
    bottom: -15%;
    left: 0;
    z-index: 1;

    @include tablets{
      bottom: -10%;
    }
  }
  &__leaf, &__berry{
    max-width: 100%;

    @include tablets{
      max-width: 90%;
    }
  }
}

.about__image::before{
  content: '';
  background-color: black;
  width: rem(67px);
  height: rem(21px);
  background: url("../img/about/1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  right: -23%;
  top: 21%;

  @include tablets{
    content: none;
  }
}

.about__item:last-child{
  .about__image::before{
    content: '';
    background: none;
  }
}
