.advantages{
  margin-top: 50px;
  display: flex;

  &__item{
    display: flex;
    align-items: flex-start;
    font-size: 16px;
  }

  &__item:not(:last-child){
    margin-right: 6px;
  }

  &__image{
    margin-right: 9px;

  }
  &__img{
    fill: #ffffff;
    max-width: 50px;
    max-height: 42px;
  }
}