.advantages{
  margin-top: rem(50px);
  display: flex;

  @include tablets{
    display: none;
  }

  &__item{
    display: flex;
    align-items: flex-start;
    font-size: rem(16px);
  }

  &__item:not(:last-child){
    margin-right: rem(6px);
  }

  &__image{
    margin-right: rem(9px);

  }
  &__img{
    fill: #ffffff;
    max-width: rem(50px);
    max-height: rem(42px);
  }
}