.aside{
  position: fixed;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  z-index: 1;

  @include tablets{
    display: none;
  }

  &__list{
    display: flex;
    flex-direction: column;  
  }

  &__item{
    &:not(:first-child){
      margin-top: rem(5px);
    }

    &--active .aside__link{
      border: 1px solid #fff;
    }
  }

  &__link{
    display: block;
    border-radius: 50%;
    position: relative;
    width: rem(16px);
    height: rem(16px);
    border: 1px solid transparent;

    &::before{
      content: '';
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}