.contacts{
  position: relative;
  padding-left: rem(17px);

  &::before{
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: rem(12px);
    height: rem(11px);
    background: url(../img/sprite.svg#phone-green) no-repeat 100%;
    background-size: cover;
  }

  &:hover{
    font-weight: 500;
  }
}

.header__contacts{
  font-size: rem(24px);
  line-height: 1.25;
  z-index: 10;

  @include tablets{
    display: none;
  }
}

.footer__contacts.contacts::before{
  filter: brightness(0.2) sepia(1) hue-rotate(120deg) saturate(5);

  @include phones{
    left: 20%;
    top: 25%;
  }
}

.footer__contacts{
  margin-top: rem(5px);
  color: $green;

  @include phones{
    margin-top: rem(20px);
  }
}