.first-screen{
  background: url(../img/firstScreen/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;

  @include tablets{
    background-position: right;
  }

  &__content{
    height: 100%;
  }

  &__main{
    @include tablets{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  &__desc{
    max-width: rem(480px);
    @include tablets{
      order: 1;
      max-width: 100%;
      z-index: 1;
    }

    @include phones{
      max-width: 90%;
      margin-top: -28%;
    }
  }

  &__info{
    max-width: 80%;

    @include tablets{
      max-width: 100%;
    }
  }

  &__text{
    font-size: rem(21px);
    padding-top: rem(15px);

    @include tablets{
      max-width: 60%;
      margin: 0 auto;
    }

    @include phones{
      max-width: 100%;
      font-size: rem(18px);
    }
  }

  &__btn{
    margin-top: rem(32px);

    @include tablets{
      margin-top: rem(25px);
    }
  }

  &__image{
    position: relative;
    top: -11%;
    left: 5%; 

    @include tablets{
      top: -6%;
      left: -2%;
    }

    @include phones{
      top: -19%;
    }
  }

  &__img{
    max-width: 100%;

    @include tablets{
      max-width: 70%;
    }

    @include phones{
      max-width: 70%;
    }
  }
}

// header and logo in _header.scss

.fs{
  &__borderline{
    display: flex;
    width: 100%;
  }

  &-borderline__left{
    width: 50%;
    position: absolute;
    left: 3%;
    bottom: -9%;

    @include tablets{
      top: 50%;
      left: 25%;
    }

    @include phones{
      top: 36%;
      left: 17%;
      max-width: 30%;
    }
  }
  &-borderline__right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 8%;
    bottom: -6%;

    @include tablets{
      bottom: 40%;
      right: 20%;
      z-index: 0;
    }

    @include phones{
      bottom: 46%;
    }

    img:first-child{
      margin-right: 16%;

      @include tablets{
        margin-right: 5%;
      }
    }
  }

  &-borderline__left, &-borderline__right{
    img{
      max-width: 100%;
      @include tablets{
        max-width: 60%;
      }

      @include phones{
        max-width: 30%;
      }
    }
  }
}

// nav в файле _nav.scss
// contacts в файле _contacts.scss