.order{
  background: url(../../img/order/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $green;

  &__main{
    padding-top: rem(75px);
    width: 100%;
  }
}

.form{
  display: flex;
  width: 100%;
  margin-top: rem(45px);

  @include tablets{
    flex-direction: column;
    padding: 0 19%;
    margin-top: rem(36px);
  }

  @include phones{
    padding: 0;
    align-items: center;
  }

  &__group{
    flex: 1;
    font-size: rem(18px);
    font-weight: 500;


    @include tablets{
      font-size: rem(16px);
      line-height: 1.67;
    }

    @include phones{
      width: 100%;
      font-size: rem(18px);
    }

    &:first-of-type{
      margin-right: rem(20px);

      @include tablets{
        margin-right: 0;
      }
    }

    &:not(:first-of-type){
      @include tablets{
        margin-top: rem(17px);
      }
    }
  }

  &__row{
    display: flex;
    flex: 1;

    &:not(:first-child){
      margin-top: rem(17px);

      @include tablets{
        margin-top: rem(16px);
      }
    }

    &-switches{
      @include phones{
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }

  &__block{
    width: 100%;

    &:not(:first-child){
      margin-left: rem(20px);
    }
  }

  &__input{
    width: 100%;
    padding: .3rem .2rem;
    margin-top: rem(4px);
    border: solid 3px transparent;

    &:focus{
      border: solid 3px #dee2bd;
      margin-top: 0;
    }
  }

  &__field{
    resize: vertical;
    min-height: rem(170px);

    @include tablets{
      min-height: rem(80px);
    }
  }

  &__radio-label{
    display: flex;
    margin-right: rem(23px);
    margin-top: rem(5px);
  }

  &__radio-label, &__block{

    input[type="checkbox"]:checked, 
    input[type="checkbox"]:not(:checked), 
    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) 
    {
        position: absolute;
        left: -9999px;
    }

    input[type="checkbox"]:checked + div, 
    input[type="checkbox"]:not(:checked) + div, 
    input[type="radio"]:checked + div, 
    input[type="radio"]:not(:checked) + div {
        display: inline-block;
        position: relative;
        padding-left: rem(30px);
        line-height: rem(20px);
        cursor: pointer;
    }

    input[type="checkbox"]:checked + div:before, 
    input[type="checkbox"]:not(:checked) + div:before,
    input[type="radio"]:checked + div:before, 
    input[type="radio"]:not(:checked) + div:before {
        content: "";
        position: absolute;
        left: -1px;
        top: -3px;
        width: rem(24px);
        height: rem(24px);
        border: 1px solid #dddddd;
        background-color: #ffffff;
    }

    input[type="checkbox"]:checked + div:before, 
    input[type="checkbox"]:not(:checked) + div:before {
        border-radius: 2px;
    }

    input[type="radio"]:checked + div:before, 
    input[type="radio"]:not(:checked) + div:before {
        border-radius: 100%;
    }

    input[type="checkbox"]:checked + div:after, 
    input[type="checkbox"]:not(:checked) + div:after, 
    input[type="radio"]:checked + div:after, 
    input[type="radio"]:not(:checked) + div:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    input[type="checkbox"]:checked + div:after, 
    input[type="checkbox"]:not(:checked) + div:after {
        left: rem(7px);
        top: rem(5px);
        width: rem(7px);
        height: rem(3px);
        border-radius: 1px;
        border-left: 3px solid $green;
        border-bottom: 4px solid $green;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    input[type="radio"]:checked + div:after, 
    input[type="radio"]:not(:checked) + div:after {
        left: 6px;
        top: 3px;
        width: rem(13px);
        height: rem(13px);
        border-radius: 100%;
        background-color: $green;
    }

    input[type="checkbox"]:not(:checked) + div:after, 
    input[type="radio"]:not(:checked) + div:after {
        opacity: 0;
    }

    input[type="checkbox"]:checked + div:after, 
    input[type="radio"]:checked + div:after {
        opacity: 1;
    }
  }

  &__row.form__btns{
    margin-top: rem(50px);

    @include tablets{
      width: 60%;
      margin: rem(34px) auto;
    }
  }

  &__btn{
    margin-right: rem(29px);
  }

  &__btn-reset{
    color: inherit;
    border: none;

    &:hover, &:active, &:focus{
      color: #000;
      outline: none;
    }
  }
}