.reviews {
  position: relative;

  &__slider {
    margin-top: 34px;
  }

  &__item {
    background-color: $gray;
    background: url(../../img/reviews/grayBerry.png);
    background-repeat: no-repeat;
    padding: 50px 180px 30px 45px;
    position: relative;
    display: flex;

    &::before {
      content: '';
      background-color: #fff;
      width: 75px;
      height: 48px;
      border-radius: 50%;
      position: absolute;
      top: -25px;
      left: 50%;
      margin-right: -50%;
      transform: translateX(-50%);
    }
  }

  &__image {
    // flex: 1;
    width: 36%;
    margin-right: 20px;
  }

  &__img {
    width: 100%;
  }

  &__desc {
    width: 64%;
    // flex: 2;
  }

  &__subtitle {
    margin-top: 11px;
    font-size: 30px;
    font-weight: bold;
  }

  &__text {
    font-size: 18px;
    color: $gray-text;
    margin-top: 22px;
  }

  &__author {
    font-size: 18px;
    font-weight: 500;
    margin-top: 34px;
  }

  &__mini-list {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mini-item {
    margin-left: 11px;

    &--active {
      margin-right: 12px;

      .reviews__mini-img {
        box-sizing: content-box;
        border: 6px solid $green--hover;
      }
    }

  }

  &__mini-image {
    width: 67px;
  }

  &__mini-img {
    width: 100%;
    border-radius: 50%;
  }

  &__borderline-top {
    position: absolute;
    top: 7%;
    right: 16px;
  }

  &__borderline-bottom {
    position: absolute;
    bottom: -27%;
    left: 0;
  }

  &__borderline-leaf{
    width: 102px;
    height: 321px;
  }

  &__borderline-berry {
    position: absolute;
    bottom: 24%;
    width: 135px;
    height: 193px;
  }
}