.social{
  flex: 1;
  display: flex;
  justify-content: flex-end;

  &__item{
    &:not(:last-child){
      margin-right: rem(20px);
    }

    &:hover{
      .social__img{
        fill: #000;
      }
    }
  }

  &__img{
    max-width: rem(21px);
    max-height: rem(21px);
    fill: $gray;
  }
}